<div style="line-height: 0px;font-family: 'Ubuntu', sans-serif;">
    <div style="width:300px; display: flex; flex-direction: column;line-height: 0px;">
        <mat-card>
            <div style="line-height: 0px">
                <div style="display: flex; align-items: center;margin: 10px;">
                    <h3>Indrajit Jagdale</h3>
                    <button mat-raised-button matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over" style="width: 40%; margin-left: 20px;"><p>Today,10:30 AM</p></button>
                </div>
                <div style="display:flex;flex-direction: column; height: 200px;">
                    <div style="display: flex; margin: 10px;">
                        <h5 style="color: grey;">Can. id:</h5>
                        <h5 style="color: grey; margin-left: 2px;">12345</h5>
                    </div>
                    <div style="display: flex; ">
                        <h5 style="color: grey; margin-left: 20px;">Can. id:</h5>
                        <h5 style=" margin-left: 25px;">12345</h5>
                    </div>
                    <div style="display: flex; ">
                        <h5 style="color: grey; margin-left: 20px;">Location:</h5>
                        <h5 style=" margin-left: 25px;">India</h5>
                    </div>
                    <div style="display: flex; ">
                        <h5 style="color: grey; margin-left: 20px;">TimeZone: </h5>
                        <h5 style=" margin-left: 25px;">IST</h5>
                    </div>
                </div>
                
            </div>
          </mat-card>
    </div>
</div>

