<!-- <app-internshipform></app-internshipform> -->
<!-- <app-search-project-screen></app-search-project-screen> -->
<!-- <app-candidate-interviews></app-candidate-interviews> -->
<!-- <app-mentor-profile></app-mentor-profile> -->
<!-- <app-actual-mentor></app-actual-mentor> -->
<!-- <app-add-project-component></app-add-project-component> -->
<!-- <app-add-mentor></app-add-mentor> -->
<!-- <app-admin-project-approval></app-admin-project-approval> -->
<app-candidate-interview-screen></app-candidate-interview-screen>